/*reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

/*page style*/
section.summary{
    height: 100vh;  /* 100vh = viewport height */
    display: flex;          /* flex布局*/
    justify-content: center;/*内容居中*/
    align-items: center;    /*子元素居中*/
    flex-direction: column; /* 竖向 */
    background: transparent 50% 50% url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/060.jpg) no-repeat;
}

section.summary img.avatar{
    width: 128px;
    height: 128px;
    border-radius: 50%; 
}
section.summary .text{
    line-height: 1.5;
    text-align: center;
}

section.works{
    height: 100vh;
    background: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.works > ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-between;
}

section.works img{
    max-width: 200px;
}

section.works .imageWrapper{
    padding: 10px 10px 3px;
    background: #fff;
    text-align: center;
}

section.works p{
    text-align: center;
    font-size: 16px;
    margin: 10px 0 10px;
}

section.works h1{
    font-size: 30px;
    margin-bottom: 1em;
}

@media (max-width:500px){
    section.works h1{
        padding: 1em;
    }
    section.works{
        height: auto;
        min-height: 100vh;
    }
    section.works > ul{
        justify-content: center;
    }
}

section.skills{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section.contact{
     height: 100vh; 
     background: rgb(244,244,244);
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     line-height: 2;
}

section.contact > dl{
    display: flex;
    flex-wrap: wrap;
    width: 20em;
}

section.contact > dl > dt{
    width: 3em;
}

section.contact > dl > dd{
    width: 17em;
}

